@model ArtistSearch.Presentation.Model.ArtistSearchModel

@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div>
            <h2>Searh your artist:</h2>
            @Html.TextBoxFor(m => m.Name, new { placeholder = "Artist name..." })
            <br />
            <input type="submit" class="btn-primary" value="Find" />
        </div>
    </div>

    @if (Model.Artist != null)
    {
        <div class="row">
            <div>
                @Html.LabelFor(m => m.Artist.Name)
                @Html.TextBoxFor(m => m.Artist.Name)
            </div>
        </div>
        <div class="row">
            <div>
                @Html.Label("Picture")
                <image src="@Model.Artist.Image_Url"></image>
            </div>
        </div>
        <div class="row">
            <div>
                @Html.Label("Facebook URL")
                @Html.TextBoxFor(m => m.Artist.Facebook_Page_Url)
            </div>
        </div>

        foreach (var artistEvent in Model.Artist.Events)
        {
            <div class="row">
                <div>
                    @Html.Label("Venue")
                    @artistEvent.Venue.Name
                </div>
            </div>
            <div class="row">
                <div>
                    @Html.Label("City")
                    @Html.DisplayText(artistEvent.Venue.City)
                </div>
            </div>
            <div class="row">
                <div>
                    @Html.Label("Country")
                    @Html.DisplayText(artistEvent.Venue.Country)
                </div>
            </div>
            <div class="row">
                <div>
                    @Html.Label("Date")
                    @Html.DisplayText(artistEvent.DateTime)
                </div>
            </div>
            <hr />
        }
    }
}
